@media print {
    header, footer, .prefooter, .preloader-screen, .recipe-details .hero, .instagram-marquee, .marquee-container, .recipe-content-buttons, .nutrition-hexagon-img, .recipe-video {
		display: none;
	}
	body {
		background-color: $white;
	}
	h1, h2, h3, h4, h5, h6, p, ul, ol, li, span {
		color: $black !important;
	}
	.nutrition-info {
		margin-bottom: 0px;
		
		> .row {
			opacity: 1;
    		transform: translateY(0);
		}
		.nutrition-hexagon-img {
			+ .offset-sm-3 {
				margin: 40px 0px 0px;
			}
		}
		.hex {
			background-color: $white;
			margin: 0px;
			padding: 0px;
			
			&:before, &:after {
				display: none;
			}
		}
		.recipes-nutrition-slider {
			.swiper-button-prev, .swiper-button-next {
				display: none;
			}
		}
	}
	.recipe-details {
		.recipe-content {
			padding-bottom: 0px;

			h1 {
				margin-bottom: 40px;
				text-align: left;
				max-width: none;
				font-size: 48px;
				line-height: 54px;
			}
		}
	}
	.recipe-info {
		opacity: 1;
		transform: translateY(0);
	
		.col-md-5, .col-md-6 {
			margin-left: 0px;
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
		}
		.prep-info {
			order: 1;
		}
		.directions-heading {
			order: 3;
			margin-top: 40px;
		}
		.ingredients {
			order: 2;
		}
		.directions {
			order: 4;
		}
	}
	.recipe-content {
		> .page-wrapper {
			> .animatedParent {
				> .animated {
					transform: translate3d(0px, 0%, 0px) rotateX(0deg);
				}
			}
		}
	}
}