.promotions {
	.hero {
		background-color: $yellow;
		min-height: 100vh;
		padding-bottom: 50px;

		@media screen and (max-width: $medium) {
			min-height: calc(100vh - 104px);
		}
		.promo-slider, .swiper-wrapper {
			min-height: calc(100vh - 50px);

			@media screen and (max-width: $medium) {
				height: 100%;
				min-height: calc(100vh - 104px);
			}
			.row {
				height: 100%;
				padding: 0px 5%;

				@media screen and (max-width: $medium) {
					flex-direction: column-reverse;
				}
				@media screen and (max-width: $medium) {
					padding: 0px;
				}
			}
			.promo-img {
				//display: flex;
				//flex-direction: column;
				//justify-content: flex-end;
				margin-top: 200px;

				@media screen and (max-width: $medium) {
					margin: 0px auto;
					display: block;
				}
				img {
					width: 100%;
					max-height: 700px;
					object-fit: contain;
				}
			}
			.promo-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding-bottom: 140px;
				padding-left: 70px;
				margin-top: 200px;

				@media screen and (max-width: $medium) {
					padding: 75px calc(5% + 15px) 50px;
					//max-width: 430px;
					max-width: 600px;
					margin: 0px auto;
					display: block;
				}
				h2 {
					font-family: $arial;
					font-weight: bold;
					font-size: 48px;
					line-height: 48px;
					letter-spacing: -2px;
					text-transform: none;
					color: $black;
					border-left: 9px solid $black;
					padding: 10px 0px 25px 30px;
					margin-bottom: 20px;

					@media screen and (max-width: $medium) {
						text-align: left;
					}
					@media screen and (max-width: $small) {
						padding: 10px 0px 10px 30px;
					}
				}
				p {
					font-size: 18px;
					line-height: 21px;
					//letter-spacing: -1px;
					letter-spacing: -.5px;
					color: $black;
					padding-left: 39px;
					//max-width: 400px;
					max-width: 530px;
					opacity: .75;
				}
				.deals-cta {
					display: flex;
					padding-left: 39px;
					//max-width: 400px;
					max-width: 530px;
					justify-content: flex-end;
					margin-top: 30px;

					p {
						font-size: 18px;
						font-weight: bold;
						line-height: 28px;
						letter-spacing: -1px;
						color: $black;
						padding-left: 0px;
						max-width: none;
						margin-bottom: 0px;
						margin-right: 25px;
					}
					button {
						position: relative;
						padding: 0px;
						background-color: transparent;
						border: none;
						outline: none;
		
						&:hover {
							.hex {
								background-color: rgba($black, .7);

								&:before {
									border-bottom-color: rgba($black, .7);
								}
								&:after {
									border-top-color: rgba($black, .7);
								}
							}
						}
						.hex {
							width: 48px;
							height: 28px;
							background-color: $black;
							position: relative;
							transition: .2s ease-in-out;
		
							&:before {
								content: '';
								width: 0px;
								position: absolute;
								top: -14px;
								left: 0px;
								border-bottom: 14px solid $black;
								border-left: 24px solid transparent;
								border-right: 24px solid transparent;
								transition: .2s ease-in-out;
							}
							&:after {
								content: '';
								width: 0px;
								position: absolute;
								bottom: -14px;
								left: 0px;
								border-top: 14px solid $black;
								border-left: 24px solid transparent;
								border-right: 24px solid transparent;
								transition: .2s ease-in-out;
							}
						}
						img {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
				}
				.terms {
					font-size: 13px;
					margin: 25px 0px 0px;
		
					a {
						color: $black;
					}
				}
			}
			.swiper-pagination {
				bottom: 35px;

				@media screen and (max-width: $medium) {
					top: 30px;
					bottom: auto;
				}
			}
			.swiper-pagination-bullet {
				opacity: 1;
				width: 10px;
				height: 10px;
				margin: 0px 3px;
				transition: .2s ease-in-out;

				&:focus {
					outline: none;
				}
				&.swiper-pagination-bullet-active {
					background: $black;
					transform: scale(1.4);
				}
			}
		}
	}
	.recipes-section {
		padding: 100px 0px 40px;
	}
	.coupon-modal {
		background-color: rgba($black, .7);

		.modal-dialog {
			@media screen and (max-width: $small) {
				margin: 45px 25px 25px;
			}
		}
		.modal-content {
			background-color: transparent;
			border: none;
			border-radius: 0px;
		}
		.modal-body {
			padding: 0px;

			.coupon-img {
				margin-bottom: 35px;

				img {
					width: 100%;
				}
			}
		}
		.close {
			color: $yellow;
			opacity: 1;
			text-shadow: none;
			outline: none;
			position: absolute;
			top: -9px;
			right: -30px;
			font-size: 31px;

			@media screen and (max-width: $small) {
				top: -40px;
				right: 0px;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.form-modal {
		background-color: rgba($black, .7);

		.modal-xl {
			max-width: 1140px !important;
			margin: 0px auto;
		}
		.modal-content {
			background-color: $yellow;
			border: none;
			border-radius: 0px;
		}
		.modal-body {
			padding: 50px 35px;
		}
		.close {
			color: $black;
			opacity: 1;
			text-shadow: none;
			outline: none;
			position: absolute;
			top: 40px;
			right: 35px;
			font-size: 31px;

			&:hover {
				opacity: 1;
			}
		}
		form {
			.form-check-label {
				font-size: 12px;
				line-height: 14px;
				position: relative;
				top: 2px;
			}
			.form-check-input {
				&:checked {
					+ label {
						font-weight: bold;
					}
				}
			}
		}
		.terms {
			font-size: 15px;

			a {
				color: $black;
			}
		}
	}
}